@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Energy storage type</h5>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Energy storage type</h5>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Energy storage type</h5>
            </div>
        </div>
    </div>

</div>


