@{
    ViewData["Title"] = "Preparation";

    List<SelectListItem> options = new List<SelectListItem>();
    options.Add(new SelectListItem
        {
            Text = "option1",
            Value = "opt1"
        });
    options.Add(new SelectListItem
        {
            Text = "option2",
            Value = "opt2",
            Selected = true
        });
    options.Add(new SelectListItem
        {
            Text = "option3",
            Value = "opt3"
        });
}

<div class="text-center">
    <h1 class="display-4">Information Input</h1>
</div>
</br>
<div class="row">

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Energy storage type</h5>
                @Html.DropDownList("fakeDropdown1", options, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Application area</h5>
                @Html.DropDownList("fakeDropdown2", options, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Current infrastructure</h5>
                @Html.DropDownList("fakeDropdown3", options, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Discharge data required?</h5>
                @Html.DropDownList("fakeDropdown4", options, new { @class = "form-control" })
            </div>
        </div>
    </div>

</div>
</br>
<div class="row">

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Energy storage type</h5>
                <p class="card-text" style="color:blue; font-size:30px">50 MW</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Application area</h5>
                <p class="card-text" style="color:blue; font-size:30px">NA</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Current infrastructure</h5>
                <p class="card-text" style="color:blue; font-size:30px">NA</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Discharge data required?</h5>
                <p class="card-text" style="color:blue; font-size:30px">Yes/No</p>
            </div>
        </div>
    </div>

</div>
</br>

<div style="width:45%; float:left">
    <canvas id="myChart"></canvas>
</div>

<table id="materials-table" class="table" style="margin-left:auto; margin-right:0; width:45%">
    <thead>
    <tr>
        <th scope="col">Materials</th>
        <th scope="col">Performance</th>
        <th scope="col">Cost</th>
        <th scope="col">Sustainability</th>
        <th scope="col">Challenges</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">material 1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">material 2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">material 3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">material 4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">material 5</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">material 6</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>




