@{
    ViewData["Title"] = "Sorted";

}

<style>

    .flex-column {
        float: left;
        width: 25%;
        padding: 20px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    #borderimg {
        border: 1px solid black;
        padding: 20px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Performance results</h1>
</div>

</br>

<div class="row">

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Evaluated materials</h5>
                <p class="card-text" style="color:blue; font-size:30px">1350000</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Approved</h5>
                <p class="card-text" style="color:blue; font-size:30px">24</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total calculations</h5>
                <p class="card-text" style="color:blue; font-size:30px">490214</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No. of best option</h5>
                <p class="card-text" style="color:blue; font-size:30px">12</p>
            </div>
        </div>
    </div>

</div>

</br>

<div class="row" id="borderimg">

    <div class="flex-column">
        <img src="https://images.ctfassets.net/pdf29us7flmy/4FaqpZFMenRQoDl0LGqFes/02c40a20ee37917f3e117b9c599f132d/GOLD-6487-CareerGuide-Batch04-Images-GraphCharts-01-Line.png" alt="A random chart" style="width:100%" />
    </div>

    <div class="flex-column">
        <img src="https://images.ctfassets.net/pdf29us7flmy/4FaqpZFMenRQoDl0LGqFes/02c40a20ee37917f3e117b9c599f132d/GOLD-6487-CareerGuide-Batch04-Images-GraphCharts-01-Line.png" alt="A random chart" style="width:100%" />
    </div>

    <div class="flex-column">
        <img src="https://images.ctfassets.net/pdf29us7flmy/4FaqpZFMenRQoDl0LGqFes/02c40a20ee37917f3e117b9c599f132d/GOLD-6487-CareerGuide-Batch04-Images-GraphCharts-01-Line.png" alt="A random chart" style="width:100%" />
    </div>

    <div class="flex-column">
        <img src="https://images.ctfassets.net/pdf29us7flmy/4FaqpZFMenRQoDl0LGqFes/02c40a20ee37917f3e117b9c599f132d/GOLD-6487-CareerGuide-Batch04-Images-GraphCharts-01-Line.png" alt="A random chart" style="width:100%" />
    </div>

</div>
